{# General save_row block #}
{% block save_row %}
  <div class="form-group form-group-save-button">
    <div class="form-group-inner">
      {% for item in form %}
        {{ form_widget(item) }}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{# DeleteType in order to render the buttons correctly #}
{% block delete_widget %}
  <div class="clearfix spacer"></div>
  {{ block('save_row') }}
{% endblock %}

